*
{
    box-sizing: border-box;
}

body
{
    background-color:#81689D;
    margin: 0px;
}

.layout{
    margin-left:20%;
    margin-top:2%;
    width:60%;
    height:auto;
    border:solid 1em #474F7A;
    background-color:#FFD0EC;
    color:#81689D;
}

.align
{
    top:15%;
    background-color:violet;
}

img{
    border-radius: 10%;
    transform: translateY(+2%);  
    height:5%;
}

h2{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size:x-large;
    }

.position
{
    display: flex;
    flex-direction:row;
    align-items: center; 
    justify-content: space-evenly; 
}
.section {
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-right: 10px; 
    width: 30%;
    height: 80%; 
    border: solid 2px white;
    border-radius: 10px;
    font-size: larger;
    background-color:rgb(244, 185, 244) ;
}

input[type="radio"] {
    margin-left: 30%;
    margin-right: 5px;
    transform: scale(1.5);
}

#selector1
{
    accent-color: blue;
}

#selector2
{
    accent-color: Deeppink;
}

#box
{
    flex:1;
    margin-top:5%;
    border: none;
    outline: none;
    background: white;
    padding:2%;
    width:60%;
    margin-left:5%;
    height:auto;
    font-weight: bolder;
    border-radius: 10px;
    background-color:rgb(244, 185, 244) ;
    border:solid 2px white;
    margin-right: 3%;
}

#box::placeholder
{
    color:#81689D;
    text-align: center;
}

#submit
{
padding:1%;
width:10%;
background-color:rgb(244, 185, 244) ;
border:solid 2px white;
color:#81689D;
align-items: stretch;
border-radius: 10px;
font-size: smaller;
} 

h3{
    margin-left: 3%;
    font-size: x-large;
}
#view
{
    display: none;
}
#list li
{
    display: flex;
    position: relative;
    width:60%;
    height:auto;
    padding:2%;
    border-radius: 10px;
    border:solid 2px white;
    outline: none;
    background-color:rgb(244, 185, 244) ;
    margin: 5% 8% 5% 8%;
    color:#81689D;
}

#list li i{
    display: flex;
    width:40px;
    height:40px;
    border-radius: 30%;
    background-color:rgb(244, 185, 244);
    position: absolute;
    right:-80px;
    transform: translateY(-27%);
    margin-right:3%;
}
#list li p img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    display: block;
    margin: auto;
}

#list li  p {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 30%;
    background-color: rgb(244, 185, 244);
    position: absolute;
    right: -130px;
    transform: translateY(-70%);
}

#list li i img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    display: block;
    margin: auto;
}

#list li  b {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 30%;
    background-color: rgb(244, 185, 244);
    position: absolute;
    right: -190px;
    transform: translateY(-20%);
}

#list li b img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    display: block;
    margin: auto;
}
#list li b
{
    display: none;
}